$primary-color: rgb(31, 34, 36) ;
$accent: rgb(253, 182, 89);
$secondary: #f71b89 ;
$home-image: url(../img/hero.jpg);
$show-homeimg: true;
$b-opacity: .4;

@mixin background{
    @if $show-homeimg{
        &#bg-img{
            background: $home-image no-repeat fixed;
            background-size: cover;
            @include media-small{
                background-size: cover;
                background-position-x: 40%;
            }

            &:after{
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba($primary-color, $b-opacity);
            }
        }
        
    }
}

@mixin easeOut{
    transition: all .5s ease-out;
}



@function set-textcolor($color){
    @if (lightness($color) > 40) {
        @return #000;
    }
    @else{
        @return #fff;
    }
}












//Media Query
@mixin media-small{
    @media screen and (max-width: 580px){
        @content;
    }
}
@mixin media-medium{
    @media screen and (max-width: 768px){
        @content;
    }
}
@mixin media-large{
    @media screen and (min-width: 769px) and (max-width: 1170px){
        @content;
    }
}
@mixin media-xlarge{
    @media screen and (min-width: 1171px){
        @content;
    }
}
