@import url("https://fonts.googleapis.com/css?family=Montserrat");
.menu-button {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.menu-button .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.menu-button.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-button.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-button.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-button.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -7px);
          transform: rotate(-45deg) translate(7px, -7px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100vw;
  opacity: .9;
  visibility: hidden;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.menu.show {
  visibility: visible;
}

.menu-brand, .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  padding: 0;
  margin: 0;
  background: #373737;
  list-style: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-brand {
  background: #2b2b2b;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.menu-brand.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-brand .portrait {
  width: 17em;
  height: 17em;
  background: url(../img/portrait4.jpg) no-repeat;
  background-size: cover;
  background-position: 40%, 30%;
  border-radius: 50%;
  border: 2px solid #eece1a;
}

.menu .nav-items {
  -webkit-transform: translate3d(50em, 0, 0);
          transform: translate3d(50em, 0, 0);
  width: 100%;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.menu .nav-items.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-items.active > a {
  color: #eece1a;
  cursor: not-allowed;
}

.menu .navlink {
  display: inline-block;
  position: relative;
  font-size: 1.6em;
  padding: .7em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 250;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  width: 100%;
}

.menu .navlink:hover {
  background-color: #444;
  color: #eece1a;
}

.nav-items:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-items:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-items:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-items:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

@media screen and (max-width: 768px) {
  main {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 580px) {
  .lg-heading {
    font-size: 1.2rem;
    text-align: center;
  }
  .sm-heading {
    margin-bottom: 2rem;
    padding: 2rem;
  }
  main#home h1 {
    margin-top: 10vh;
  }
  ul.menu-nav,
  div.menu-brand {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show,
  div.menu-brand.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu-brand {
    height: 35vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .menu-brand .portrait {
    width: 10em;
    height: 10em;
  }
  .menu-nav {
    height: 65vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    font-size: .8rem;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #444;
  color: azure;
  width: 100vw;
  margin: 0;
  line-height: 1.5;
}

body#bg-img {
  background: url(../img/hero.jpg) no-repeat fixed;
  background-size: cover;
}

body#bg-img:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(68, 68, 68, 0.6);
}

a {
  text-decoration: none;
  color: white;
}

h1,
h3 {
  margin: 0;
  font-weight: 400;
}

h1.lg-heading,
h3.lg-heading {
  font-size: 4rem;
}

h1.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: .2rem 1em;
  background: rgba(73, 73, 73, 0.3);
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #eece1a;
}

main {
  padding: 4rem;
  height: 100%;
}

main .icons {
  margin-top: 1rem;
}

main .icons a {
  padding: .4rem;
}

main .icons a:hover {
  color: #eece1a;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

main#home {
  overflow: hidden;
}

main#home h1 {
  margin-top: 20vh;
}
/*# sourceMappingURL=portfolio.css.map */